<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div class = "background">
            
        <div class = 'topnavbar'>
            <div class = "logo"> 
                <h1>MicPELI</h1>
            </div>
            <ul class= 'navbar-ul'>
                
                <li> <a href="" class = "opcion">Home</a> </li>
                <li> <a href="" class = "opcion">Movie</a> </li>
                <li> <a href="" class = "opcion">Contacto</a> </li>
                
                <li> <a href="" class = "login-btn"> Registro </a> </li>
            </ul>
        </div>

        <div class="landing">
            <!--<h1>TuMotor</h1>-->

            <img src="/assets/imagenPrincipal.jpg" alt="" class = landing-bg>
            
        </div>

        
    </div>

</body>
</html>