

<body>
    <div class = "background">
            
        <div class = 'topnavbar'>
            <div class = "logo"> 
                <h1>MicPELI</h1>
            </div>
            <ul class= 'navbar-ul'>
                
                <li> <a href="" class = "opcion">Home</a> </li>
                <li> <a href="" class = "opcion">Movies</a> </li>
                <li> <a href="" class = "opcion">Registration</a> </li>                
                <li> <a href="" class = "login-btn"> Login </a> </li>
            </ul>
        </div>        
    </div>

</body>
