    <nav class = "background">
         <div class = 'topnavbar'>   
            <div class = "logo-caja"> 
                <h1 class = "logo">MicPeli</h1>
            </div>         
            <ul class= 'navbar-ul'>          
                <li> <a [routerLink]="['/']"   class = "opcion">Home</a> </li>
                <li> <a [routerLink]="['/movies']" class = "opcion">Movies</a> </li>             
                <li> <a [routerLink]="['/login']" class = "login-btn"> Login </a> </li>
            </ul>
        </div>
    </nav>
